@font-face { font-family: Staatliches-Regular; src: url('../fonts/Staatliches-Regular.ttf'); } 
h2 {
  font-family: Staatliches-Regular,sans-serif;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logoSmall{
  position: absolute;
  height: 5px;
  width: 5px;
}
.backuses{
  position: absolute;
  height: 97vh;
  width: 66.7vw;
  background-color: yellow;
}
.backborder{
  border: solid yellow 50px;
}

.lborder{
  border-left: solid yellow 50px;
}

.rborder{
  border-right: solid yellow 50px;
}

.fcBlack{
  color: black;
  position: relative;
  border: 5px solid #f1c40f;
  font-size:x-large;
  font-family: Staatliches-Regular,sans-serif;
  text-align: center;
}
